################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PriorityQueue/.vs/PriorityQueue
/PriorityQueue/obj
/PriorityQueue/bin/Debug/net6.0
/.vs/PriorityQueue/v17
